body {
  font-family: "Inter", sans-serif;
  max-width: 1200px;
  color: white;
  background-color: rgb(221, 220, 220);
}

nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.avatar {
  max-width: 50px;
  border-radius: 30px;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

main {
  background-color: #7550fe;
}

.heroSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.heroSection img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.browse {
  background-color: #1acb98;
  width: 12em;
  height: 3.5em;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

.instructor {
  background-color: white;
  width: 12em;
  height: 3.5em;
  color: black;
  border-radius: 5px;
  font-weight: 600;
}

.info {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  color: black;
  padding: 25px;
}

.box1,
.box2,
.box3 {
  margin-right: 6em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box1 h3,
.box2 h3,
.box3 h3 {
  font-size: 11px;
  color: #19113c;
  font-weight: 600;
}

.imgPeople,
.imgClock,
.imgCamera {
  padding: 1em;
  color: #c28747;
  background-color: #ffeeda;
  border-radius: 25px;
  margin-right: 5px;
}

h3 span {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  color: grey;
  line-height: 20px;
}
